<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">Navbar</a>
  <div class="form">
    <i class="fa fa-search"></i>
    <input type="text" class="form-control form-input" placeholder="Search anything...">
    <span class="left-pan"><i class="fa fa-microphone"></i></span>
  </div>
</nav>