<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>
  <%- include ("../partials/nav.ejs") %>
 
  <p class="test"> lets try generating random youtubes vids" </p>

  <div class="container">
    <div class="row align-items-start">
      <div class="col video">
        One of three columns
      </div>
      <div class="col video">
        One of three columns
      </div>
      <div class="col video">
        One of three columns
      </div>
    </div>
    <div class="row">
      <div class="col video">
        One of three columns
      </div>
      <div class="col video">
        One of three columns
      </div>
      <div class="col video">
        One of three columns
      </div>
    </div>
    <div class="row">
      <div class="col video">
        One of three columns
      </div>
      <div class="col video">
        One of three columns
      </div>
      <div class="col video">
        One of three columns
      </div>
    </div>
  </div>

</body>
</html>
